.div-title {
  display: flex;
  flex-direction: row;
  height: 120px;
  padding-left: 80px;
  align-items: center;
}
.div-text {
  width: 750px;
  padding-left: 120px;
  text-align: justify;
  text-justify: inter-word;
  padding-bottom: 70px;
}
.div-content-1 {
  display: flex;
}
.div-image {
  margin-bottom: 80px;
  padding-left: 70px;
}
.div-title-paragraph {
  display: flex;
  flex-direction: column;
}

.div-content-principal {
  display: flex;
  padding-top: 40px;
}
.div-title-install {
  display: flex;
  justify-content: center;
}
.div-cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px 50px;
}
.div-card {
  padding: 0px 70px;
  width: 500px;
}
.comands {
  background-color: #ced4da;
}
.div-paragraph {
  text-align: justify;
  text-justify: inter-word;
}
.div-title-so {
  display: flex;
  height: 120px;
  align-items: center;
  justify-content: center;
}
.div-content-install {
  padding-bottom: 200px;
}
